.bg-black{
	background-color: black;

}
img{
	width: 100%;
	height: 100%;

}

.font-div{
	width: 30%;
}
/*/////responsive*/
@media only screen and (min-width: 990px){
	.font-div{
		padding: 105px 0px!important;
	}
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
